.header__title,
.main-text-list,
.main-text-list__item,
.main-text-list__item-active,
.main-text-button {
  font-family: "Roboto-700";
  font-weight: 700;
  color: #FFF;
}

.header__text {
  font-family: "Roboto-400";
  font-weight: 400;
  color: #FFF;
}

body {
  height: 100%;
  background: url('img/Background.png') 100%/cover no-repeat;
  margin: 0;
}

.header__title {
  font-size: 57px;
  margin: 10% 0 0 10%;
  line-height: 1.5em;
}

.header__text {
  font-size: 20px;
  margin: 0 0 0 10%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-flow: nowrap;
  margin: 0 0 0 10%;
}

.main-text {
  margin-top: 2%;
}

.main-text-list {
  font-size: 50px;
}

.main-text-list__item {
  line-height: 1.6em;
  text-decoration: none;
  transition: 0.5s;
  padding-left: 5%;
  list-style-type: none;
  list-style-image: none;
}

.main-text-list__item:hover {
  color: #D62B2E;
  cursor: pointer;
  transition: 0.5s;
}


.main-text-list__item-active {
  list-style-image: url('img/Rectangle 2.png');
  padding-left: 5%;
}

/*.main-text-list__item li::marker {
  visibility: hidden;
  list-style-image: url('img/Rectangle 2.png');
}*/

.main-text-button {
  display: flex;
  font-size: 32px;
  width: 352px;
  height: 95px;
  background-color: #D62B2E;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  text-decoration: none;
  transition: 0.7s;
}

.main-text-button:hover {
  background-color: #FFF;
  color: #D62B2E;
  transition: 0.7s;
}

.picture {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 341px;
  margin-top: 10%;
}

.picture__card {
  display: flex;
  width: 34%;
  background: url('img/Карта 1.png') 100%/contain no-repeat;
  transform: rotate(15deg) translateX(-100%);
  margin: 0px;
}

.picture__card:after {
  content: '';
  width: 100%;
  background: url('img/Карта 1.png') 100%/contain no-repeat;
  transform: rotate(30deg) translateX(60%) translateY(-30%);
}

/*КАРТА*/

.table {
  height: 100%;
  background: url('img/Background.png') 100%/cover no-repeat;
  margin: 0;
}

.picture-level {
  background-color: transparent;
  height: 341px;
  width: 218px;
  perspective: 1000px;
}

.picture-level__card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: gray;
  text-align: center;
  border: 3px solid black;
  transform-style: preserve-3d;
}

.picture-level__card-inner-front, .picture-level__card-inner-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.picture-level__card-inner-front {
  background: url('img/Карта 1.png') 100%/contain no-repeat;
}

.picture-level__card-inner-back {
  height: 341px;
  width: 218px;
  transform: rotateY(180deg);
  background: url('img/Карта с багом 2.png') 100%/contain no-repeat;
}
