.header__title,
.main-text-list,
.main-text-list__item,
.main-text-list__item-active,
.main-text-button {
  font-family: "Roboto-700";
  font-weight: 700;
  color: #FFF;
}

.header__text {
  font-family: "Roboto-400";
  font-weight: 400;
  color: #FFF;
}

html, body {
height: 100%;
}

body {
  margin: 0 auto;
  max-height: 100%;
  background: url('img/Background.png') repeat;
  background-size: cover;
}

.header__title {
  font: 700 50px/59px Roboto, arial, sans-serif;
  font-size: 57px;
  margin: 2% 0 0 10%;
  line-height: 1.2em;
}

.header__text {
  font: 400 50px/59px Roboto, arial, sans-serif;
  font-size: 20px;
  margin: 0 0 0 10%;
  line-height: 1.2em;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  margin: 0 0 0 10%;
}

.main-text {
  margin-top: 2%;
}

.main-text-list {
  font: 700 50px/59px Roboto, arial, sans-serif;
  font-size: 50px;
}

.main-text-list__item {
  font: 700 50px/59px Roboto, arial, sans-serif;
  line-height: 1.6em;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-left: 5%;
  list-style-type: none;
  list-style-image: none;
}

.main-text-list__item:hover {
  color: #D62B2E;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}


.main-text-list__item-active {
  list-style-image: url('img/Rectangle 2.png');
  padding-left: 5%;
}

.main-text-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 700 50px/59px Roboto, arial, sans-serif;
  font-size: 32px;
  width: 352px;
  height: 95px;
  background-color: #D62B2E;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15%;
  text-decoration: none;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -webkit-box-shadow: 1px 1px 2px 1px black;
          box-shadow: 1px 1px 2px 1px black;
}

.main-text-button:hover {
  background-color: #FFF;
  color: #D62B2E;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 341px;
  margin-top: 10%;
}

.picture__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 34%;
  background: url('img/Карта 1.png') 100%/contain no-repeat;
  -webkit-transform: rotate(15deg) translateX(-100%);
      -ms-transform: rotate(15deg) translateX(-100%);
          transform: rotate(15deg) translateX(-100%);
  margin: 0px;
}

.picture__card:after {
  content: '';
  width: 100%;
  background: url('img/Карта 1.png') 100%/contain no-repeat;
  -webkit-transform: rotate(30deg) translateX(60%) translateY(-30%);
      -ms-transform: rotate(30deg) translateX(60%) translateY(-30%);
          transform: rotate(30deg) translateX(60%) translateY(-30%);
}

/* СТОЛ  И  РЕПЛЕЙС  */

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-easy-medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
}

.table-hard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1250px;
  margin: auto;
}

.header-none {
  display: none;
}

.main-none {
  display: none;
}

/*КАРТА*/

.picture-level {
  background-color: transparent;
  height: 341px;
  width: 218px;
  margin: 12px;
  margin-bottom: 8px;
  margin-top: 0;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.picture-level-inner {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 12px;
  margin-bottom: 8px;
  margin-top: 0;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.picture-level:hover {
  -webkit-animation: hover;
          animation: hover;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-filter: drop-shadow(20px 20px 25px);
          filter: drop-shadow(20px 20px 25px);
}

.rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.picture-level-front,
.picture-level-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.picture-level-front {
  background-size: contain;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  -o-transition: transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  background: url('img/Карта 1.png') no-repeat;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.picture-level-back {
  background: url('img/Конец игры.png') 100% no-repeat;
  background-size: contain;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.rotate .picture-level-back {
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.picture-level-bug {
  background: url('img/Карта с багом 2.png') 100%/contain no-repeat;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

@-webkit-keyframes hover {
  from {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
  50% {
    -webkit-transform: rotate(-5deg) translateY(-25px);
            transform: rotate(-5deg) translateY(-25px);
  }
  to {
    -webkit-transform: rotate(-3deg) translateY(-20px);
            transform: rotate(-3deg) translateY(-20px);
  }
}

@keyframes hover {
  from {
    -webkit-transform: rotate(0deg) translateY(0px);
            transform: rotate(0deg) translateY(0px);
  }
  50% {
    -webkit-transform: rotate(-5deg) translateY(-25px);
            transform: rotate(-5deg) translateY(-25px);
  }
  to {
    -webkit-transform: rotate(-3deg) translateY(-20px);
            transform: rotate(-3deg) translateY(-20px);
  }
}

@media (max-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }

  .table-easy-medium {
    max-width: 800px;
    margin: auto;
  }

  .table-hard {
    max-width: 1200px;
  }

  .picture-level {
    height: 300px;
    width: 200px;
  }

  .picture-level-front {
    height: 300px;
    width: 200px;
    background-size: contain;
  }

  .picture-level-back {
    height: 300px;
    width: 200px;
    background-size: contain;
  }

  .picture-level-bug {
    background-size: contain;
  }
}

@media (max-width: 1200px) {
  .main {
    margin-top: 6%;
    margin-left: 10%;
  }
}

@media (max-width: 1125px) {
  .table-easy-medium {
    max-width: 500px;
}

  .table-hard {
    max-width: 800px;
}

  .picture-level {
    height: 220px;
    width: 140px;
    margin: 4px;
    margin-bottom: 3px;
  }

  .picture-level-front {
    height: 220px;
    width: 140px;
    background-size: contain;
  }

  .picture-level-back {
    height: 215px;
    width: 140px;
    background-size: contain;
  }

  .picture-level-bug {
    background-size: contain;
  }
}

@media (max-width: 1000px) {
  .header__title {
    font-size: 45px;
    line-height: 1.2em;
  }

  .header__text {
    font-size: 15px;
    line-height: 1.1em;
  }

  .main-text-list__item {
    line-height: 2em;
    font-size: 40px;
    padding-left: 1%;
  }

  .main-text-button {
    font-size: 25px;
    width: 250px;
    height: 100px;
    margin-top: 3%;
  }
}

@media (max-width: 770px) {
  .header__title {
    font-size: 42px;
  }

  .header__text {
    font-size: 15px;
  }

  .main {
    margin-top: 10%;
    margin-left: 10%;
  }

  .main-text-list__item {
    line-height: 2em;
    font-size: 38px;
    padding-left: 1%;
  }

  .main-text-button {
    font-size: 23px;
    width: 220px;
    height: 80px;
  }

  .picture-level {
    height: 210px;
    width: 120px;
    margin: 6px;
    margin-bottom: 4px;
  }

  .picture-level-front {
    height: 210px;
    width: 120px;
    background-size: contain;
  }

  .picture-level-back {
    height: 180px;
    width: 120px;
    background-size: contain;
  }

  .picture-level-bug {
    background-size: contain;
  }
}

@media (max-width: 660px) {
  .table-easy-medium {
    max-width: 400px;
  }

  .table-hard {
    max-width: 600px;
  }

  .picture-level {
    height: 180px;
    width: 90px;
  }

  .picture-level-front {
    height: 180px;
    width: 90px;
    background-size: contain;
  }

  .picture-level-back {
    height: 140px;
    width: 90px;
    background-size: contain;
  }

  .picture-level-bug {
    background-size: contain;
  }
}

@media (max-width: 600px) {

  .header__title {
    text-align: center;
    font-size: 37px;
    margin: 2% 0 0 0;
  }

  .header__text {
    text-align: center;
    font-size: 10px;
    margin: 0;
    line-height: 1.2em;
  }

  .main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin: 0;
    margin-top: 4%;
  }

  .main-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2%;
    margin: 0 auto;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-text-list {
    font-size: 30px;
    margin: 0 auto;
  }

  .main-text-list__item {
    line-height: 2em;
    font-size: 30px;
    padding-left: 1%;
  }

  .main-text-button {
    font-size: 22px;
    width: 200px;
    height: 70px;
    margin-top: 3%;
  }

  .picture {
    width: 100%;
    height: 300px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 20%;
  }

  .picture__card {
    width: 50%;
    background-position: center;
  }
}

@media (max-width: 510px) {

  .table-easy-medium {
    max-width: 310px;
  }

  .table-hard {
    max-width: 500px;
  }

  .picture-level {
    height: 150px;
    width: 75px;
  }

  .picture-level-front {
    height: 150px;
    width: 75px;
    background-size: contain;
  }

  .picture-level-back {
    height: 115px;
    width: 75px;
    background-size: contain;
  }

  .picture-level-bug {
    background-size: contain;
  }
}

@media (max-width: 440px) {

  .table-easy-medium {
    max-width: 280px;
  }

  .table-hard {
    max-width: 400px;
  }

  .picture-level {
    height: 130px;
    width: 60px;
  }

  .picture-level-front {
    height: 130px;
    width: 60px;
    background-size: contain;
  }

  .picture-level-back {
    height: 90px;
    width: 60px;
    background-size: contain;
  }

  .picture-level-bug {
    background-size: contain;
  }
}
  @media (max-width: 360px) {

    .table-easy-medium {
      max-width: 230px;
    }

    .picture-level {
      height: 110px;
      width: 50px;
    }

    .picture-level-front {
      height: 110px;
      width: 50px;
      background-size: contain;
    }

    .picture-level-back {
      height: 75px;
      width: 50px;
      background-size: contain;
    }

    .picture-level-bug {
      background-size: contain;
    }
}
