.header__title,
.main-text-list,
.main-text-list__item,
.main-text-list__item-active,
.main-text-button {
  font-family: "Roboto-700";
  font-weight: 700;
  color: #FFF;
}

.header__text {
  font-family: "Roboto-400";
  font-weight: 400;
  color: #FFF;
}

html, body {
height: 100%;
}

body {
  margin: 0 auto;
  max-height: 100%;
  background: url('img/Background.png') repeat;
  background-size: cover;
}

.header__title {
  font: 700 50px/59px Roboto, arial, sans-serif;
  font-size: 57px;
  margin: 2% 0 0 10%;
  line-height: 1.2em;
}

.header__text {
  font: 400 50px/59px Roboto, arial, sans-serif;
  font-size: 20px;
  margin: 0 0 0 10%;
  line-height: 1.2em;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-flow: nowrap;
  margin: 0 0 0 10%;
}

.main-text {
  margin-top: 2%;
}

.main-text-list {
  font: 700 50px/59px Roboto, arial, sans-serif;
  font-size: 50px;
}

.main-text-list__item {
  font: 700 50px/59px Roboto, arial, sans-serif;
  line-height: 1.6em;
  text-decoration: none;
  transition: 0.5s;
  padding-left: 5%;
  list-style-type: none;
  list-style-image: none;
}

.main-text-list__item:hover {
  color: #D62B2E;
  cursor: pointer;
  transition: 0.5s;
}


.main-text-list__item-active {
  list-style-image: url('img/Rectangle 2.png');
  padding-left: 5%;
}

.main-text-button {
  display: flex;
  font: 700 50px/59px Roboto, arial, sans-serif;
  font-size: 32px;
  width: 352px;
  height: 95px;
  background-color: #D62B2E;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  text-decoration: none;
  transition: 0.7s;
  box-shadow: 1px 1px 2px 1px black;
}

.main-text-button:hover {
  background-color: #FFF;
  color: #D62B2E;
  transition: 0.7s;
}

.picture {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 341px;
  margin-top: 10%;
}

.picture__card {
  display: flex;
  width: 34%;
  background: url('img/Карта 1.png') 100%/contain no-repeat;
  transform: rotate(15deg) translateX(-100%);
  margin: 0px;
}

.picture__card:after {
  content: '';
  width: 100%;
  background: url('img/Карта 1.png') 100%/contain no-repeat;
  transform: rotate(30deg) translateX(60%) translateY(-30%);
}


/* СТОЛ  И  РЕПЛЕЙС  */

.table {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.table-easy-medium {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
}

.table-hard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: auto;
}

.header-none {
  display: none;
}

.main-none {
  display: none;
}

/*КАРТА*/
.picture-level {
  position: relative;
  height: 341px;
  width: 218px;
  transition: transform 0.8s;
  margin: 12px;
  margin-bottom: 8px;
  margin-top: 0;
  transform-style: preserve-3d;
}

.picture-level-front,
.picture-level-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.picture-level-front {
  background-size: 100%;
  transition: transform 0.6s;
  background: url('img/Карта 1.png') no-repeat;
}

.picture-level-back {
  background: url('img/Конец игры.png') no-repeat;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.picture-level-bug {
  background: url('img/Карта с багом 2.png') 100%/contain no-repeat;
  transform: rotateY(360deg);
}

.picture-level:hover {
  transform: rotate(5deg) translateY(-25px);
  transition: 0.5s;
  filter: drop-shadow(20px 20px 25px rgba(0, 0, 0, 0.5));
}

.rotate {
  transform: rotateY(180deg) !important;
}

.picture-level-back:hover {
  transform: translateY(0) rotate(0);
  filter: none;
}

.rotate:hover {
  transform: translateY(0) rotate(0);
  filter: none;
}

@media (max-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }

  .table-easy-medium {
    max-width: 800px;
    margin: auto;
  }

  .table-hard {
    max-width: 1200px;
  }

  .picture-level {
    height: 300px;
    width: 200px;
  }

  .picture-level-front {
    height: 300px;
    width: 200px;
    background-size: contain;
  }

  .picture-level-back {
    height: 300px;
    width: 200px;
    background-size: contain;
  }

  .picture-level-bug {
    background-size: contain;
  }
}

@media (max-width: 1200px) {
  .main {
    margin-top: 6%;
    margin-left: 10%;
  }
}

@media (max-width: 1125px) {
  .table-easy-medium {
    max-width: 500px;
}

  .table-hard {
    max-width: 800px;
}
  .picture-level {
    height: 220px;
    width: 140px;
    margin: 4px;
    margin-bottom: 3px;
  }

  .picture-level-front {
    height: 220px;
    width: 140px;
    background-size: contain;
  }

  .picture-level-back {
    height: 220px;
    width: 140px;
    background-size: contain;
  }

  .picture-level-bug {
    background-size: contain;
  }
}

@media (max-width: 1000px) {
  .header__title {
    font-size: 45px;
    line-height: 1.2em;
  }

  .header__text {
    font-size: 15px;
    line-height: 1.1em;
  }

  .main-text-list__item {
    line-height: 2em;
    font-size: 40px;
    padding-left: 1%;
  }

  .main-text-button {
    font-size: 25px;
    width: 250px;
    height: 100px;
    margin-top: 3%;
  }
}

@media (max-width: 770px) {
  .header__title {
    font-size: 42px;
  }

  .header__text {
    font-size: 15px;
  }

  .main {
    margin-top: 10%;
    margin-left: 10%;
  }

  .main-text-list__item {
    line-height: 2em;
    font-size: 38px;
    padding-left: 1%;
  }

  .main-text-button {
    font-size: 23px;
    width: 220px;
    height: 80px;
  }

  .picture-level {
    height: 210px;
    width: 120px;
    margin: 6px;
    margin-bottom: 4px;
  }

  .picture-level-front {
    height: 210px;
    width: 120px;
    background-size: contain;
  }

  .picture-level-back {
    height: 210px;
    width: 120px;
    background-size: contain;
  }

  .picture-level-bug {
    background-size: contain;
  }
}

@media (max-width: 660px) {
  .table-easy-medium {
    max-width: 400px;
  }

  .table-hard {
    max-width: 600px;
  }

  .picture-level {
    height: 180px;
    width: 90px;
  }

  .picture-level-front {
    height: 180px;
    width: 90px;
    background-size: contain;
  }

  .picture-level-back {
    height: 180px;
    width: 90px;
    background-size: contain;
  }

  .picture-level-bug {
    background-size: contain;
  }
}

@media (max-width: 600px) {

  .header__title {
    text-align: center;
    font-size: 37px;
    margin: 2% 0 0 0;
  }

  .header__text {
    text-align: center;
    font-size: 10px;
    margin: 0;
    line-height: 1.2em;
  }

  .main {
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin: 0;
    margin-top: 4%;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin: 0 auto;
    width: 90%;
    align-items: center;
  }

  .main-text-list {
    font-size: 30px;
    margin: 0 auto;
  }

  .main-text-list__item {
    line-height: 2em;
    font-size: 30px;
    padding-left: 1%;
  }

  .main-text-button {
    font-size: 22px;
    width: 200px;
    height: 70px;
    margin-top: 3%;
  }

  .picture {
    width: 100%;
    height: 300px;
    justify-content: flex-end;
    margin: 20%;
  }

  .picture__card {
    width: 50%;
    background-position: center;
  }

@media (max-width: 510px) {

  .table-easy-medium {
    max-width: 310px;
  }

  .table-hard {
    max-width: 500px;
  }

  .picture-level {
    height: 150px;
    width: 75px;
  }

  .picture-level-front {
    height: 160px;
    width: 75px;
    background-size: contain;
  }

  .picture-level-back {
    height: 160px;
    width: 75px;
    background-size: contain;
  }

  .picture-level-bug {
    background-size: contain;
  }

@media (max-width: 440px) {

  .table-easy-medium {
    max-width: 280px;
  }

  .table-hard {
    max-width: 400px;
  }

  .picture-level {
    height: 130px;
    width: 60px;
  }

  .picture-level-front {
    height: 130px;
    width: 60px;
    background-size: contain;
  }

  .picture-level-back {
    height: 130px;
    width: 60px;
    background-size: contain;
  }

  .picture-level-bug {
    background-size: contain;
  }

  @media (max-width: 360px) {

    .picture-level {
      height: 110px;
      width: 50px;
    }

    .picture-level-front {
      height: 110px;
      width: 50px;
      background-size: contain;
    }

    .picture-level-back {
      height: 110px;
      width: 50px;
      background-size: contain;
    }

    .picture-level-bug {
      background-size: contain;
    }

}
